:root {
    --white-color: #ffffff;
    --background-color: #f7f7f7f7;
    --search-color: #ECEFF0;
    --black-color: #000000;
    --hit-gray: #9EAAB4;
    --silver-color: #ACACAC;
    --blue-color: #0CB4F1;
    --emperor-color: #4F4F4F;
    --mine-shaft-color: #333333;
    --gray-color: #828282;
    --alto-color: #E0E0E0;
}
